<!DOCTYPE html>
<html>

<head>
    <title>News - Health</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='materialize.min.css')}}">
    <link rel="icon" type="image/png" href="https://img.icons8.com/ios-filled/344/google-earth.png" />
</head>

<body onload="myFunction()" style="margin:0;">
    
    <div class="navbar-fixed">
        <nav class="teal">
            <div class="nav-wrapper">
                <div class="container">
                    <a href="{{ url_for('Index') }}" class="brand-logo">News</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="{{ url_for('Index') }}">General</a></li>
                        <li><a href="{{ url_for('Business') }}">Business</a></li>
                        <li><a href="{{ url_for('Entertainment') }}">Entertainment</a></li>
                        <li class="active"><a href="{{ url_for('Health') }}">Health</a></li>
                        <li><a href="{{ url_for('Science') }}">Science</a></li>
                        <li><a href="{{ url_for('Sports') }}">Sports</a></li>
                        <li><a href="{{ url_for('Technology') }}">Technology</a></li>
                    </ul>
                </div>

            </div>
        </nav>
    </div>

    {% include 'Commun-Container.html' %}
    
</body>

</html>